{% extends "base.html" %}
{% block container %}
{% for group in duplicates %}
<div class="row row-cols-2 mt-3">
    {% for metadata in group['images'] %}
    {% set img_src = metadata['SourceFile'] %}
    <div class="col">
        <div class="card h-100">
            <a href="/image/{{ img_src|urlencode }}">
                <img src="/image/{{ img_src|urlencode }}" class="card-img-top">
            </a>
            <div class="card-header">
                <a class="btn btn-danger delete-btn" role="button" data-name="{{ img_src|urlencode }}">
                    Delete</a>
                <a class="btn ignore-btn" role="button" data-name="{{ img_src|urlencode }}">
                    Ignore</a>
                {% if alerts[img_src] %}
                    {% for alert in alerts[img_src] %}
                        <div class="alert alert-warning mt-3" role="alert">
                            {{ alert|safe }}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="card-body">
                <dl class="row">
                    <table class="table table-sm" style="table-layout: fixed;">
                        <tbody>
                            {% for tag in group['tags'] %}
                            <tr>
                                <td class="small text-truncate">{{ tag }}</td>
                                <td class="small text-truncate">
                                    {% if tag == 'FileSize' %}
                                    {{ metadata[tag]|filesizeformat }}
                                    {% else %}
                                    {{ metadata[tag] }}
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </dl>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% if loop.last %}
<div class="row mt-3">
    <div class="col">
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{ percentage }}" aria-valuemin="0"
                aria-valuemax="100" style="width: {{ percentage }}%;">
            </div>
        </div>
        <nav class="mt-1">
            <ul class="pagination justify-content-center">
                <li class="page-item"><a class="page-link" href="/">&LeftArrowBar; Beginning</a></li>
                <li class="page-item"><a class="page-link" href="?start={{ last_dhash }}">Next &rarr;</a></li>
            </ul>
        </nav>
    </div>
</div>
{% endif %}
{% endfor %}
{% endblock %}